@import './global.css';

.custom-switch {
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  .pi {
    position: relative;
    transition: 0.5s;
  }
  .bg {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  > input {
    position: absolute;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    &:checked {
      & + label {
        background-color: var(--p-blue-900);
        & + .bg {
          & + .icon_wrap {
            .pi-sun {
              left: 27px;
              bottom: 27px;
              opacity: 0;
            }
            .pi-moon {
              opacity: 1;
              left: -8px;
              bottom: 0;
            }
          }
        }
      }
    }
    & + label {
      & + .bg {
        & + .icon_wrap {
          .pi-sun {
            opacity: 1;
            left: 8px;
            bottom: 0;
          }
          .pi-moon {
            opacity: 0;
            left: -27px;
            bottom: 27px;
          }
        }
      }
    }
  }
  label {
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--p-yellow-500);
    border-radius: 50%;
    z-index: 1;
  }
  .icon_wrap {
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    pointer-events: none;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    > div {
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      .pi {
        font-size: 16px;
      }
    }
  }
}
