@import 'tailwindcss';
@import 'tailwindcss-primeui';
@import 'primeicons/primeicons.css';

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}

* {
  box-sizing: border-box;
}

html,
body {
  @apply min-w-[1920px] text-[#333];
  font-family: 'Pretendard Variable', sans-serif;
}
