@import 'tailwindcss';
@import 'tailwindcss-primeui';

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}

* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

html,
body {
  @apply dark:bg-surface-950 min-w-[1920px] bg-white;
  font-family: 'Pretendard Variable', sans-serif;
}
