@import 'tailwindcss';
@import 'tailwindcss-primeui';

@custom-variant dark (&:where(.app-theme-dark, .app-theme-dark *));

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/PretendardVariable.woff2') format('woff2-variations');
}

* {
  box-sizing: border-box;
}

html,
body {
  @apply min-w-[1920px] bg-[#fafafa] bg-[radial-gradient(#d0d0d0_1px,transparent_1px)] bg-size-[12px_12px] text-[#333] dark:bg-gray-950 dark:bg-[radial-gradient(#222_1px,transparent_1px)];
  font-family: 'Pretendard Variable', sans-serif;
}
